

{% trans %}
   <p>
     <b>EnviDat</b> is the environmental data portal
        developed at the <a href="http://www.wsl.ch/">WSL</a> (envidat@wsl.ch)
   </p>
   <blockquote>
     <i><b>Mission Statement:</b> EnviDat is the WSL data portal providing unified and
        managed access to environmental monitoring and research data. EnviDat has the capability to host and publish data sets.
     </i>
   </blockquote>
   <h3>Project Description</h3>
      <p>The EnviDat project aims at developing an efficient, unified and managed access portal for WSL's rich reservoir of environmental monitoring and research data, according to the data policy of
        WSL. EnviDat is designed as a portal to publish, connect and search across existing data, rather than as a large data centre. The responsibility to curate research data remains with the original
        data providers.</p>
      <p>
        We aim to participate with related initiatives within the ETH domain and Swiss universities. A mid- to long-term goal is to extend the EnviDat system service to entire ETH domain and
        possibly other environmental research institutes. Currently we collaborate with EAWAG. EnviDat is the data portal that holds in trust all data sets from projects funded by the CCES.</p>
      <p>
    <h3>Objectives</h3>
      <ul>
        <li>Formal publication of many of WSL's environmental research data sets and thereby increase their usage and increase the citation record of WSL data</li>
        <li>Increase national and international collaborations of WSL researchers through data sharing; allow adding value to WSL research data to the benefit of WSL and science in general;
          contribute to a more efficient use of WSL resources available for research</li>
        <li>Strengthening WSL's international position in environmental research</li>
        <li>Foster data management at the WSL</li>
        <li>Increase collaboration in the area of data access, data management and curation within WSL and the ETH Domain</li>
        <li>Provide access to WSL data sets and metadata records</li>
        <li>Provide the technical means to publish data sets and assign DOIs</li>
        <li>Support data-management based on a decentralised structure</li>
      </ul>
      
      <p> More information about the Envidat project can be found here: <b><a href="/project_info/about.html">Envidat Project Information </a></b>.</p>
      
      <h3>People and Contact</h3>
      <h4>Steering committee</h4>
        <ul>
           <li><b>Director of WSL:</b> <a href="http://www.wsl.ch/info/mitarbeitende/suche/index_EN?search_name=konrad+steffen&search=Search">Konrad Steffen</a></li>  
           <li><b>Member of the committee:</b> <a href="http://www.wsl.ch/info/mitarbeitende/suche/index_EN?search_name=michael+lehnin&search=Search">Michael Lehning</a></li>  
        </ul>
      <h4>Project management</h4>
        <ul>
           <li><b>Project leader:</b> <a href="http://www.wsl.ch/info/mitarbeitende/suche/index_EN?search_name=Gian-kasper&search=Search">Gian-Kasper Plattner</a></li>
           <li><b>Technical coordinator:</b> <a href="http://www.wsl.ch/info/mitarbeitende/suche/index_EN?search_name=sandro+bischof&search=Search">Sandro Bischof</a></li>
        </ul>
      <h4>Project team</h4>
        <ul>
           <li><b>Software engineer:</b> <a href="http://www.wsl.ch/info/mitarbeitende/suche/index_EN?search_name=Lucia+Espona+Pernas&search=Search">Lucia Espona Pernas</a></li>
           <li><b>Software engineer OSPER integration:</b> <a href="https://people.epfl.ch/253044">Nataliya Kryvych</a></li>
           <li><b>Project manager OSPER integration:</b> <a href="http://www.wsl.ch/info/mitarbeitende/suche/index_EN?search=Search&search_name=Joel%20Caduff-Fiddes">Joel Caduff-Fiddes</a></li>
        </ul>   
       <h4>EnviDat System Administrator</h4>
        <ul>
           <li>Please for technical issues related to this website, send a mail to: <a href="mailto:envidat@wsl.ch">envidat@wsl.ch</a></li>
        </ul>

{% endtrans %}
