

{% trans %}
   <p>
     <b>EnviDat</b> is the environmental data portal
        developed at the <a href="http://www.wsl.ch/">WSL</a> (EnviDat@wsl.ch)
   </p>
   <blockquote>
     <i><b>Mission Statement:</b> EnviDat is the WSL data portal providing unified and
        managed access to environmental monitoring and research data. EnviDat has the capability to host and publish data sets.
     </i>
   </blockquote>
   <h3>Project Description</h3>
      <p>The EnviDat project aims at developing an efficient, unified and managed access portal for WSL's rich reservoir of environmental monitoring and research data, according to the data policy of
        WSL. EnviDat is designed as a portal to publish, connect and search across existing data, rather than as a large data centre. The responsibility to curate research data remains with the original
        data providers.</p>
      <p>
        We aim to participate with related initiatives within the ETH domain and Swiss universities. A mid- to long-term goal is to extend the EnviDat system service to entire ETH domain and
        possibly other environmental research institutes. Currently we collaborate with EAWAG. EnviDat is the data portal that holds in trust all data sets from projects funded by the CCES.</p>
      <p>
    <h3>Key Objectives</h3>
      <ul>
        <li>Provide access to WSL datasets and metadata records;</li>
        <li>Provide the technical means to publish datasets and assign DOIs;</li>
        <li>Support data-management based on a decentralised structure.</li>
      </ul>
      
      <p> More information about the EnviDat project can be found here: <b><a href="https://www.wsl.ch/en/about-wsl/programmes-and-initiatives/envidat.html">EnviDat Project Information </a></b>.</p>
      
      <h3>People and Contact</h3>
      <h4>Project Leadership and Steering committee</h4>
        <ul>
           <li><b>Project leader:</b> <a href="https://www.wsl.ch/en/employees/plattngk.html">Gian-Kasper Plattner</a></li>
           <li><b>Director of WSL:</b> <a href="https://www.wsl.ch/en/employees/steffen.html">Konrad Steffen</a></li>  
           <li><b>Member of the steering committee:</b> <a href="https://www.wsl.ch/en/employees/lehning.html">Michael Lehning</a></li>  
        </ul>
      <h4>Project team (part of the <a href="https://www.wsl.ch/en/about-wsl/research-units/forest-resources-and-management/gis.html">GIS</a> Group)</h4>
        <ul>
           <li><b>Technical coordinator:</b> <a href="https://www.wsl.ch/en/employees/iosifesc.html">Ionu&#x21B; Iosifescu Enescu</a></li>
           <li><b>Software engineer:</b> <a href="https://www.wsl.ch/en/employees/haas.html">Dominik Haas-Artho</a></li>
           <li><b>Software engineer (remote):</b> <a href="https://www.linkedin.com/in/espona/">Luc&#xED;a Espona Pernas</a></li>
        </ul>
      <h4>Former team members</h4>
        <ul>
           <li><b>Technical coordinator:</b> Sandro Bischof</li>
           <li><b>Software engineer OSPER integration:</b> Nataliya Kryvych</li>
           <li><b>Project manager OSPER integration:</b> Joel Caduff-Fiddes</li>
        </ul>   
       <h4>EnviDat System Administrator</h4>
        <ul>
           <li>The EnviDat open-source code is available here: <b><a href="https://github.com/EnviDat">EnviDat GitHub</a></b>.</li>
           <li>Please for technical issues related to this website, send a mail to: <a href="mailto:envidat@wsl.ch">envidat@wsl.ch</a></li>
        </ul>

{% endtrans %}
