
<h3> EnviDat </h3>
{% trans %}
    <p>
        <b>EnviDat</b> is the environmental data portal
        developed at the <a href="http://www.wsl.ch/">WSL</a> (envidat@wsl.ch)
    </p>
    <p>
        <i><b>Mission Statement:</b> EnviDat is the WSL data portal providing unified and
        managed access to environmental monitoring and research data. EnviDat has the capability to host and publish data sets.
        </i>
    </p>
    <p>More information about the Envidat project can be found <b><a href="/project_info/about.html">here</a></b>.</p>
    <br/>

<h3> CKAN </h3>
<p>CKAN is the world’s leading open-source data portal platform.</p>

<p>CKAN is used by governments and user groups worldwide and powers a variety
of official and community data portals including portals for local, national
and international government, such as the UK’s <a href="http://data.gov.uk">data.gov.uk</a> and the
European Union’s <a href="http://publicdata.eu/">publicdata.eu</a>, the Brazilian <a href="http://dados.gov.br/">dados.gov.br</a>, Dutch and
Netherland government portals, as well as city and municipal sites in the US,
UK, Argentina, Finland and elsewhere.</p>

<p>CKAN: <a href="http://ckan.org/">http://ckan.org/</a><br />
CKAN Tour: <a href="http://ckan.org/tour/">http://ckan.org/tour/</a><br />
Features overview: <a href="http://ckan.org/features/">http://ckan.org/features/</a></p>
{% endtrans %}
