{% set intro = g.site_intro_text %}

<div class="module-content box">
  {% block home_image %}
      {% block home_image_content %}
        <a class="media-image" href="#">
          <img src="{{ h.url_for_static('/envidat-logo-icon-text-new.png') }}" alt="EnvidatLogo" width="420" /> <!-- height="71" /> -->
        </a>
      {% endblock %}
  {% endblock %}  
  
  {% if intro %}
      {{ h.render_markdown(intro) }}
  {% else %}
      <br/> <br/>
      <p>
        {% trans %}
                  Welcome to the Environmental Data Portal <b>EnviDat</b>, an institutional data management portal of <a href="http://www.wsl.ch/">WSL</a> and <a href="http://www.slf.ch/">SLF</a>.
        {% endtrans %}
      </p>
      <p>
        More information about EnviDat can be found <b><a href="/about">here</a></b>.
      </p>
      <p><b style="color:#FF0000">WARNING:</b><i> Login here is disabled. Please login at 
          <a href="https://www.envidat.ch">https://www.envidat.ch</a></i> first.
      </p>
      <br/>

  {% endif %}
  
</div>

