{% set intro = g.site_intro_text %}

<div class="module-content box">
  {% block home_image %}
      {% block home_image_content %}
        <a class="media-image" href="#">
          <img src="{{ h.url_for_static('/envidat-logo-icon-text-beta_420_105.png') }}" alt="EnvidatLogo" width="420" /> <!-- height="71" /> -->
        </a>
      {% endblock %}
  {% endblock %}  
  
  {% if intro %}
      {{ h.render_markdown(intro) }}
  {% else %}
      <br/> <br/>
      <p>
        {% trans %}Welcome to <b>EnviDat</b>, the environmental data portal
        developed at the {% endtrans %} <a href="http://www.wsl.ch/">WSL</a> (envidat@wsl.ch)
      </p>
      <p>
        <i><b>{% trans %}Mission Statement{% endtrans %}:</b> {% trans %}EnviDat is the WSL data portal providing unified and 
        managed access to environmental monitoring and research data. EnviDat has the capability to host and publish data sets.
        {% endtrans %}</i>
      </p>
      <p>More information about Envidat can be found <b><a href="/about">here</a></b>.</p>
      <br/>
  {% endif %}
  
</div>

