{% set intro = g.site_intro_text %}

<div class="module-content box">
  {% block home_image %}
      {% block home_image_content %}
        <a class="media-image" href="#">
          <img src="{{ h.url_for_static('/forest_photo_420_220.png') }}" alt="EnvidatForest" width="420" height="220" />
          <span class="envidat-image-footer">photo Simon Speich, www.speich.net</span>
        </a>
      {% endblock %}
  {% endblock %}  
  
  {% if intro %}
      {{ h.render_markdown(intro) }}
  {% else %}
      <br/> <br/>
      <h3 class="page-heading">{{ _("Welcome to EnviDat") }}</h3>
      <p>
        {% trans %}Welcome to EnviDat, the environmental data portal
        developed in the WSL {% endtrans %} (envidat@wsl.ch)
      </p>
      <br/> <br/>
  {% endif %}
  
</div>

