{% set tags = h.get_facet_items_dict('tags', limit=12) %}
{% set placeholder = _('E.g. environment') %}

<div class="module module-search module-narrow module-shallow box">
  <form class="module-content search-form" method="get" action="{% url_for controller='package', action='search' %}">
    <h3 class="heading">{{ _("Search data") }}</h3>
    <div class="search-input control-group search-giant">
      <input type="text" class="search" name="q" value="" autocomplete="off" placeholder="{% block search_placeholder %}{{ placeholder }}{% endblock %}" />
      <button type="submit">
        <i class="fa fa-search"></i>
        <span>{{ _('Search') }}</span>
      </button>
    </div>
  </form>
  <div class="tags"  style="padding-top:2px;padding-bottom:7px;padding-left:25px">
    <!-- <h3>{{ _('Popular tags') }}</h3> -->
    {% for tag in tags %}
      {% set padded_tag = tag.display_name|center(width=24,) %}
      {%- if tag.display_name|length>=22 -%}
        <a class="tag" href="{% url_for controller='package', action='search', tags=tag.name %}">{{ h.truncate(tag.display_name, 22) }}</a>
      {%- else -%}
        <a class="tag" href="{% url_for controller='package', action='search', tags=tag.name %}">{{ padded_tag|replace("     ", "      ")|replace(" ", "&nbsp;")|safe  }}</a>
       {%- endif -%}
    {% endfor %}
  </div>
</div>
