{% ckan_extends %}

  {% block resource_item_explore %}
  {% if not url_is_edit %}
  <div class="dropdown btn-group">
    <a href="#" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
      <i class="fa fa-share"></i>
      {{ _('Explore') }}
      <span class="caret"></span>
    </a>
    <ul class="dropdown-menu">
      {% block resource_item_explore_links %}
      {% set url_token = h.envidat_theme_get_access_url(res) %}
      <li>
        <a href="{{ url }}">
          {% if res.has_views %}
            <i class="fa fa-bar-chart-o"></i>
            {{ _('Preview') }}
          {% else %}
            <i class="fa fa-info-circle"></i>
            {{ _('More information') }}
          {% endif %}
        </a>
      </li>
      {% if res.url and h.is_url(res.url) %}
      <li>
          {% if res.has_views or res.url_type == 'upload' %}
            <a href="{{ url_token }}" class="resource-url-analytics" download="">
              <i class="fa fa-arrow-circle-o-down"></i>
            {{ _('Download') }}
          {% else %}
            <a href="{{ url_token }}" class="resource-url-analytics" target="_blank">
              <i class="fa fa-external-link"></i>
            {{ _('Go to resource') }}
          {% endif %}
        </a>
      </li>
      {% endif %}
      {% if can_edit %}
      <li>
        <a href="{{ h.url_for(controller='package', action='resource_edit', id=pkg.name, resource_id=res.id) }}">
          <i class="fa fa-pencil-square-o"></i>
          {{ _('Edit') }}
        </a>
      </li>
      {% endif %}
      {% endblock %}
    </ul>
  </div>
  {% endif %}
{% endblock %}
