{% ckan_extends %}

{%- set schema = h.scheming_get_dataset_schema(dataset_type) -%}

{% block package_notes %}
  {{ super() }}

  {% set funding = h.envidat_get_funding(pkg.funding) %}
  {% if funding %}
      <h4> Funding Information:</h4> 
      <div class="notes embedded-content">
		This work was supported by:
      <ul>
      {%- for funder in funding -%}
        <li>  {{ funder.institution }} 
            {% if funder.grant_number %}  (Grant/Award: {{ funder.grant_number }})  {% endif %}
        </li>
      {%- endfor -%}
      </ul>
    </div>
  {% endif %}

  {% if (h.scheming_field_by_name(schema.dataset_fields, 'related_publications') and
    pkg.related_publications) or (h.scheming_field_by_name(schema.dataset_fields, 'dora_link') and
    pkg.dora_link)%}
    {% set related_publications_field = h.scheming_field_by_name(schema.dataset_fields, 'related_publications') %}
    <h3>{{ related_publications_field.label }}:</h3>
    <div class="notes embedded-content">
      {{ h.render_markdown(pkg.related_publications) }}
    </div>
    <div class="notes embedded-content">
      {{ h.envidat_get_dora_citation(pkg.dora_link) | safe }}
    </div>
  {% endif %}
{% endblock %}

