{% ckan_extends %}


{% block resource_actions_inner %}
            {% set url_token = h.envidat_theme_get_access_url(res) %}
            {% if h.check_access('package_update', {'id':pkg.id }) %}
              <li>{% link_for _('Manage'), controller='package', action='resource_edit', id=pkg.name, resource_id=res.id, class_='btn', icon='wrench' %}</li>
            {% endif %}
            {% if res.url and h.is_url(res.url) %}
              <li>
                  {% if res.resource_type in ('listing', 'service') %}
                    <a class="btn btn-primary resource-url-analytics resource-type-{{ res.resource_type }}" href="{{ res.url }}">
                      <i class="fa fa-eye"></i> {{ _('View') }}
                  {% elif  res.resource_type == 'api' %}
                    <a class="btn btn-primary resource-url-analytics resource-type-{{ res.resource_type }}" href="{{ res.url }}">
                      <i class="fa fa-key"></i> {{ _('API Endpoint') }}
                  {% elif (not res.has_views or not res.can_be_previewed) and not res.url_type == 'upload' %}
                    <a class="btn btn-primary resource-url-analytics resource-type-{{ res.resource_type }}" href="{{ url_token }}">
                      <i class="fa fa-external-link"></i> {{ _('Go to resource') }}
                  {% else %}
                    <a class="btn btn-primary resource-url-analytics resource-type-{{ res.resource_type }}" href="{{ res.url }}" download="">
                      <i class="fa fa-arrow-circle-o-down"></i> {{ _('Download') }}
                  {% endif %}
                </a>
              </li>
            {% endif %}
{% endblock %}

{% block resource_read_url %}
            {% set url_token = h.envidat_theme_get_access_url(res) %}
            {% if res.url and h.is_url(res.url) %}
              <p class="muted ellipsis">{{ _('URL:') }} <a class="resource-url-analytics" href="{{ url_token }}" title="{{ url_token }}" download="">{{ url_token }}</a></p>
            {% elif res.url %}
              <p class="muted break-word">{{ _('URL:') }} {{ res.url }}</p>
            {% endif %}
{% endblock %}

{%- block resource_format -%}
  <tr>
	<th scope="row">{{ _('Format') }}</th>
	<td>{{ res.format or res.mimetype_inner or res.mimetype or _('unknown') }}</td>
  </tr>
{%- endblock -%}

{%- block resource_fields -%}
  {{ super() }}

  {% if (res.size) %}
  <tr>
	<th scope="row">{{ _('Size') }}</th>
	<td>{{ h.envidat_theme_sizeof_fmt(res.size) }}</td>
  </tr>
  {% endif %}
{%- endblock -%}

{% block data_preview %}
  {% if (res.has_views )%}
    {{ super() }}
  {% else %}
    <br/>
  {% endif%}
{% endblock %}
