{% resource 'envidat_theme/envidat-copy-from-author.js' %}

<div class="form-group mediunput" data-module="envidat-copy-from-author">
  	<div class="controls envidat-copy-from-author-controls">
		<label class="control-label" for="envidat-copy-from-author-select">Copy from Authors</label>
    	<select id="envidat-copy-from-author-select" name="envidat-copy-from-author-select">
  			<option value="" selected=""></option>
  		</select>
		<label class="checkbox btn btn-primary fa fa-refresh" style="margin-top:0px;border-color:grey; background-color:grey;">
		 	<input type="checkbox" id="envidat-copy-from-author-reload" style="display:none;"/>
		</label>

		<label class="checkbox btn btn-success fa fa-check" style="margin-top:0px;" >
			<input type="checkbox" class="envidat-copy-from-author-ok" id="envidat-copy-from-author-ok" style="display:none;"/>
		</label>

  	</div>
</div>

